body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container.hat {
  display: flex;
  align-items: center;
  text-align: center;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.start {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  display: inline-block;
  width: 115px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  margin: 24px 76px 24px 156px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.list {
  display: flex;
  width: 261px;
  height: 24px;
  align-items: center;
  text-align: center;
  margin: 24px 100px 24px 76px;
  gap: 40px;
}

.list-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
}
.page-nav .list-link:hover,
.page-nav .list-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contact {
  text-align: center;
  font-style: normal;
}
.contact-list {
  align-items: center;
  text-align: center;
  display: flex;
  gap: 40px;
}
.contact .contact-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.action-order {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.order-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
.title-features-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.member-team {
  flex-basis: calc((100% - 2 * 24px) / 3);
  background-color: #ffffff;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.descr-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.title-name-prod {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-spec {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.end {
  background-color: #2e2f42;
  padding: 100px 1020px 100px 156px;
}
.logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 156px;
}
.studio-end {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.text-end {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-left: 156px;
  margin-bottom: 100;
}
.container.foot {
  padding-top: 100px;
  padding-bottom: 100px;
}
